<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
<!--            直接使用%C %M 非常降低log4j2的性能-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %C{36}#%M (%X{clientIp}, %X{id}) %m%n"/>-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %X{sc} %X{sm} (%X{clientIp}, %X{id}) %m%n"/>
        </Console>
<!--        通过TCP直接发送到指定端口上-->
<!--        <Socket name="tcp" protocol="tcp" host="localhost" port="12201" immediateFail="true" immediateFlush="false"-->
<!--                bufferedIO="false">-->
<!--&lt;!&ndash;            输出信息为JSON格式&ndash;&gt;-->
<!--            <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json"/>-->
<!--        </Socket>-->

        <RollingFile name="RollingFile"
                     fileName="/Users/jacksparrow414/Downloads/app.log"
                     filePattern="/Users/jacksparrow414/Downloads/app-%d{yyyy-MM-dd HH}.log">
            <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json"/>
<!--            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
<!--            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
<!--        使用了Log4jBridgeHandler之后这里的level对jul同样生效-->
        <Root level="debug">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="RollingFile"/>-->
<!--            <AppenderRef ref="tcp"/>-->
        </Root>
    </Loggers>
</Configuration>