<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>${display.name}</display-name>
  <context-param>
    <param-name>log4jContextName</param-name>
    <param-value>WebServletELk</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>/log4j2.xml</param-value>
  </context-param>
<!--  配置MDC拦截器-->
  <filter>
    <filter-name>MdcFilter</filter-name>
    <filter-class>elk.config.MdcFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MdcFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
<!--  配置servlet的类，相当于controller-->
  <servlet>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>elk.controller.SimpleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JulServlet</servlet-name>
    <servlet-class>elk.controller.JulServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>elk.controller.ArticleServlet</servlet-class>
  </servlet>
<!--  配置servlet对应的URL路径-->
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/simple</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JulServlet</servlet-name>
    <url-pattern>/jul</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/article</url-pattern>
  </servlet-mapping>
<!--  配置首页-->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
